# Gmail SMTP Settings
EMAIL_SENDER=your@gmail.com
EMAIL_PASSWORD=your_app_password
EMAIL_RECEIVER=alert@yourdomain.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

# Telegram Bot Settings
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
